 /** Base Typography - inspired by QUnit */
body, h1, h3, li, p, div, label, input, button, select {
	font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
}

body {
	margin: 0;
	padding: 8px;
	background-color: #F5F5F5;
}

h1 {
	padding: 0.5em 0 0.5em 1em;
	color: #C2CCD1;
	background-color: #0D3349;
	font-size: 1.5em;
	line-height: 1em;
	font-weight: 400;
	border-radius: 5px 5px 0 0;
	margin: 0;
}

#qunit-banner {
	height: 5px;
	background-color: #4646E7;
	margin-bottom: 0.5rem;
}

#qunit-banner.qunit-pass {
	background-color: #C6E746;
}

#qunit-banner.qunit-fail {
	background-color: #EE5757;
}

#qunit-banner.qunit-running {
	background-color: #FFF;
}

/** Button Styling - inspired by QUnit */
button, input[type="button"] {
	font-size: small;
	border: 1px solid #AAA;
	background-color: #EEE;
	padding: 0.4em 0.8em;
	cursor: pointer;
	border-radius: 3px;
}

button:hover, input[type="button"]:hover {
	background-color: #DDD;
}

input[type="text"] {
	box-sizing: border-box;
	height: 1.6em;
	padding: 0.3em;
	border: 1px solid #CCC;
	border-radius: 3px;
}

input[type="checkbox"] {
	margin: 3px;
	vertical-align: -2px;
}

label {
	display: inline-block;
	margin-right: 0.5em;
}

/** Test Results - inspired by QUnit */
.testResult.pass > p{
	padding: 0.5em 0 0.5em 1em;
	color: #366097;
	background-color: #E2F0F7;
	line-height: 1em;
	font-weight: bold;
	cursor: pointer;
	margin: 0rem;
	border-bottom: 1px solid #FFF;
}

.testResult.fail > p{
	background-color: #EE5757;
	color: #000000;
	padding: 0.5em 0 0.5em 1em;
	line-height: 1em;
	font-weight: bold;
	cursor: pointer;
	margin: 0rem;
	border-bottom: 1px solid #FFF;
}

.testResult li{
	border-bottom: 1px solid #FFF;
	padding: 0.4em 0.5em 0.4em 1em;
	color: #000000;
	font-size: small;
	background-color: #FFF;
}

.testResult li.fail {
	border-left: 10px solid #EE5757;
	color: #710909;
	background-color: #FFF5F5;
}

.testResult li.pass {
	border-left: 10px solid #C6E746;
	color: #3C510C;
	background-color: #F4FFF0;
}

.testResult li:hover {
	background-color: #F9F9F9;
}

.testResult ol{
	list-style-position: inside;
	margin: 0px;
	padding: inherit;
}

li.pass > br:empty {
	display: none;
}

li.pass.test > ol {
	display: none;
}

li.test > p {
	cursor: pointer;
}

li.check {
	border: 0px;
}

.bl-source {
	font-size: 12px;
}

#copyButtons {
	flex-direction: column;
	justify-content: center;
	width: 5%;
}
#copyButtons > input {
	margin: 2px;
	width: 32px;
}

.uiArea > .uiAreaHeader > div {
	display: flex;
	align-items: center;
}

.uiArea > .uiAreaContent {
	display: flex;
	padding: 1em;
	flex-direction: column;
	background-color: #FFF;
	border-radius: 0 0 5px 5px;
}

.uiArea > .uiAreaContent > div {
	margin-block: 0.25rem;
}

.uiArea.collapsed > .uiAreaContent {
	display: none;
}

.uiArea:not(.showAll) > .uiAreaContent > .testResult.pass {
	display: none;
}

.uiArea > .uiAreaHeader {
	display: flex;
	justify-items: center;
	align-items: center;
}

.uiArea > .uiAreaHeader > :first-child {
	justify-self: start;
}

.uiArea > .uiAreaHeader > :last-child {
	justify-self: end;
}

.uiArea {
	margin-bottom: 0.5rem;
}

.uiArea > div {
	border: 1px solid #D3D3D3;
	background-color: #FFF;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.uiAreaHeader {
	background-color: #EEE;
	justify-content: space-between;
	padding: 0.5em 1em 0.5em 1em;
	color: #333;
	font-size: small;
	border-bottom: 1px solid #CCC;
	border-radius: 5px 5px 0 0;
}

.uiAreaHeader > div:nth-child(2) {
	flex: 1;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.uiAreaHeader > div:nth-child(1) {
	flex: 0 0 auto;
}

.uiAreaHeader > div:nth-child(3) {
	flex: 0 0 auto;
}

.uiAreaHeader > input {
	flex: 0 0 auto;
	margin-left: auto;
}

.uiAreaHeader > div:last-child {
	flex: 0 0 auto;
	margin-left: 1em;
}

.uiArea.collapsed .uiAreaHeader {
	border-radius: 5px;
	border-bottom: none;
}

.uiAreaHeader > div > * {
	margin-inline: 0.25rem;
}

.uiArea.expanded > .uiAreaHeader > .expandCollapseBtn {
	border-width:0 12px 12px 12px;
	border-color:transparent transparent #007dc0 transparent;
}

.uiArea.collapsed > .uiAreaHeader > .expandCollapseBtn {
	border-width: 12px 12px 0 12px;
	border-color:#007dc0 transparent transparent transparent;
}

.uiAreaContent.testSelection div:has(> :not(select)) {
	display: flex;
	align-items: center;
}

.expandCollapseBtn {
	margin: 0.25rem;
	border-style: solid;
	cursor: pointer;
}

.selectionArea div {
	margin-block: 0.25rem;
}

.selectionArea > div > * {
	margin-inline: 0.25rem;
}

#progressSection {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	flex: 1;
}

#progress {
	flex-shrink: 0;
}

.progressBar {
	border: 1px solid #CCC;
	flex: 1;
	height: 1.25rem;
	border-radius: 3px;
	background-color: #F5F5F5;
	overflow: hidden;
}

.progressBar > div {
	background-color: #C6E746;
	width: 0%;
	height: 100%;
	text-align: right;
	padding-right: 0.25rem;
	color: #000;
	font-size: 0.75rem;
	line-height: 1.25rem;
	transition: width 0.2s ease-out, background-color 0.2s ease;
}

.testSelection :has(> select) {
	width: 47.5%;
	align-self: flex-start;
}

.testSelection select {
	width: 100%;
	padding: 0.4em;
	border: 1px solid #D3D3D3;
	border-radius: 3px;
	background-color: #FFF;
	font-size: small;
}

.testSelection select:focus {
	outline: 2px solid #0D3349;
	outline-offset: 1px;
}

.test-execution {
	display: none;
}

.test-execution:has(> *) {
	display: block;
	overflow: auto;
	overflow-x: hidden;
}

#test-iframe {
	width: 100%;
	min-width: 1280px;
	height: calc(100vh - 150px);
	min-height: 600px;
}
