/* ===================================== */
/* CSS for control sap.ui.rta/AddIFrame  */
/* Base theme                            */
/* ===================================== */

@_sap_ui_rta_AddIFrame_BorderColor: var(--sapGroup_ContentBorderColor); /* #000 */
@_sap_ui_rta_AddIFrame_PreviewBackgroundColor: var(--sapContent_ImagePlaceholderBackground); /* #fff */
@_sap_ui_rta_AddIFrame_PreviewTextColor: var(--sapContent_ForegroundTextColor); /* #000 */

.sapUiRtaMode {

	.sapUiRtaAddIFrameDialog {

		.sapMBarPH.sapMBarContainer {
			justify-content: center
		}

		.sapUiRtaAddIFrameDialogVlWrapper {

			.sapUiRtaAddIFrameDialogContainer {
				padding: 0 var(--sapContent_Space_Small);
			}

			.sapUiRtaAddIFrameDialogShowParametersButton {
				position: relative;
				top: 1.375rem;
			}

			.sapUiRtaAddIFrameDialogHideParametersButton {
				margin-top: ~"calc(-1 * var(--sapContent_Space_Small))";
			}

			.sapUiRtaAddIFrameParametersHeader {
				margin-bottom: ~"calc(-1 * var(--sapContent_Space_Tiny))";
				.sapUiRtaAddIFrameDialogParametersLabel {
					// avoid label beeing too long
					max-width: 20.5rem;
				}
			}

			.sapUiRtaAddIFrameDialogSizeVBox {
				margin-top: ~"calc(-1 * var(--sapContent_Space_Small))";
			}

			.sapUiRtaAddIFrameDialogEditGrid {
				margin-top: var(--sapContent_Space_Small);

				.sapUiRtaAddIFrameDialogParameters {

					.sapMScrollCont {
						border: 0.0625rem solid @_sap_ui_rta_AddIFrame_BorderColor; /* 1px */
					}
				}

				.sapUiRtaAddIFrameDialogEditUrl {

					.sapMTextArea {
						margin-bottom: 0;
					}
				}
			}

			.sapUiRtaAddIFrameDialogUrlWarningVBox {
				width: 96%;
			}

			.sapUiRtaAddIFrameDialogAdvancedSettingsGrid {

				.sapUiRtaAddIFrameDialogAdvancedSettingsPanel {
					margin: 0 !important;

					.sapMPanelWrappingDivTb {
						border-radius: 0;
					}
					.sapUiRtaAddIFrameDialogAdvancedSettingsToolbar {
						height: 2rem !important;
						padding-right: 0;

						.sapUiRtaAddIFrameDialogAdvancedSettingsTitle {
							font-size: 0.875rem;
						}
					}
				}
			}

			.sapUiRtaAddIFrameDialogPreviewGrid {
				padding: 0;
				margin: 0 var(--sapContent_Space_Small) var(--sapContent_Space_Small);
				background: @_sap_ui_rta_AddIFrame_PreviewBackgroundColor;
				border: 0.0625rem solid @_sap_ui_rta_AddIFrame_BorderColor; /* 1px */
				overflow: auto;
				height: 230px;
			}
		}
	}
}

.sapUiRtaMode.sapUiSizeCozy {

	.sapUiRtaAddIFrameDialog {

		.sapUiRtaAddIFrameDialogVlWrapper {
			.sapUiRtaAddIFrameDialogHideParametersButton {
				position: relative;
				top: -0.3125rem;
			}
			.sapUiRtaAddIFrameParametersHeader {
				margin-bottom: var(--sapContent_Space_Small);
			}
		}
	}
}