/******************************************************************
	Style of the RTA Add Fields Dialog  - base Theme
*******************************************************************/
@_sap_ui_rta_FieldRepository_BC_Container_BorderColor: @sapUiGroupContentBorderColor; //#000

.sapUIRtaFieldRepositoryDialog {

	.sapUIRtaListItem {
		line-height: 1rem;
	}

	.sapUIRtaBusinessContextContainer {
		width: 100%;
		padding: var(--sapContent_Space_Tiny) 0; /* 8px */
		border-bottom: 0.0625rem solid @_sap_ui_rta_FieldRepository_BC_Container_BorderColor; /* 1px */

		> div:not(:first-child) {
			padding-left: var(--sapContent_Space_Medium); /* 32px */
			padding-right: var(--sapContent_Space_Tiny); /* 8px */
		}

		> div:first-child {
			font-weight: bold;
			padding: var(--sapContent_Space_Tiny); /* 8px */
		}

		.sapMText {
			max-width: 37.5rem; /* 600px */
		}

	}

	.sapUIRtaCCDialogScrollContainer {
		max-height: 25rem; /* 400px */
	}
}