/* ====================================== */
/* CSS for control sap.ui.dt/ContextMenu  */
/* Base theme                             */
/* ====================================== */

@_sap_ui_dt_ContextMenu_MnuItemTextColor: var(--sapTextColor); /* #000 */
@_sap_ui_dt_ContextMenu_MnuItemIconColor: var(--sapContent_NonInteractiveIconColor); /* #111 */
@_sap_ui_dt_ContextMenu_PrpgtedMnuItemBGColor: var(--sapList_AlternatingBackground); /* darken(#111, 10); */
@_sap_ui_dt_ContextMenu_PrpgtedTitleBorderColor: var(--sapShell_BorderColor); /* #111 */
@_sap_ui_dt_ContextMenu_EnabledOpacity: 1;

.sapUiDtContextMenu.sapMMenu {

	.sapMMenuList {

		.sapMMenuItem {

			.sapMMenuEndContent{

				.sapMBtn {

					.sapMBtnInner {
						background-color: transparent;
						border-color: transparent;
					}

					&.sapMBtnDisabled {
						opacity: @_sap_ui_dt_ContextMenu_EnabledOpacity;
					}

					&:focus-visible > .sapMFocusable,
					&:focus > .sapMFocusable {

						&::before {
							content: none;
						}
					}

					.sapUiIcon {
						color: @_sap_ui_dt_ContextMenu_MnuItemIconColor !important;
					}
				}
			}

			/* style for control names */
			&.sapUiDtContextMenuControlTitle {
				opacity: @_sap_ui_dt_ContextMenu_EnabledOpacity;
				height: 2rem;

				.sapMMenuItemIcon {
					display: none;
				}

				.sapMMenuItemText {
					font-weight: bold;
					color: @_sap_ui_dt_ContextMenu_MnuItemTextColor;
				}
			}

			/* Style for title "Extended Actions" */
			&.sapUiDtContextMenuExtendedActionsTitle {
				opacity: @_sap_ui_dt_ContextMenu_EnabledOpacity;
				height: 2.5rem;
				text-align: center;
				background-color: @_sap_ui_dt_ContextMenu_PrpgtedMnuItemBGColor;
				border-top: 0.0625rem solid @_sap_ui_dt_ContextMenu_PrpgtedTitleBorderColor;
				border-bottom: 0.0625rem solid @_sap_ui_dt_ContextMenu_PrpgtedTitleBorderColor;
				border-radius: 0;

				.sapMMenuItemIcon {
					display: none;
				}

				.sapMMenuItemText {
					color: @_sap_ui_dt_ContextMenu_MnuItemTextColor;
				}
			}

			/* style for names of propagated controls */
			&.sapUiDtContextMenuPropagatedControlTitle {
				opacity: @_sap_ui_dt_ContextMenu_EnabledOpacity;
				height: 2rem;
				background-color: @_sap_ui_dt_ContextMenu_PrpgtedMnuItemBGColor;

				.sapMMenuItemIcon {
					display: none;
				}

				.sapMMenuItemText {
					font-weight: bold;
					color: @_sap_ui_dt_ContextMenu_MnuItemTextColor;
				}
			}

			/* style for propagated menu items */
			&.sapUiDtContextMenuPropagatedItem {

				&:not(:hover) {
					background-color: @_sap_ui_dt_ContextMenu_PrpgtedMnuItemBGColor;
				}

				&.sapMMenuItemDisabled {

					.sapMMenuItemIcon,
					.sapMMenuItemText,
					.sapMMenuEndContent {
						color: @_sap_ui_dt_ContextMenu_MnuItemTextColor;
						opacity: var(--sapContent_DisabledOpacity);
					}

					&:hover {
						background-color: @_sap_ui_dt_ContextMenu_PrpgtedMnuItemBGColor;
					}
				}
			}
		}
	}
}